@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Arvo');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3vh8ya');
  src:  url('../fonts/icomoon.eot?3vh8ya#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3vh8ya') format('truetype'),
    url('../fonts/icomoon.woff?3vh8ya') format('woff'),
    url('../fonts/icomoon.svg?3vh8ya#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-america .path1:before {
  content: "\e90f";
  color: rgb(240, 240, 240);
}
.icon-america .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-america .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-america .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-america .path5:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-america .path6:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(46, 82, 178);
}
.icon-america .path7:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path8:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path9:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path10:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path11:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path12:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path13:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path14:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path15:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path16:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path17:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-america .path18:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-japan .path1:before {
  content: "\e921";
  color: rgb(245, 245, 245);
}
.icon-japan .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 75, 85);
}
.icon-like:before {
  content: "\e90d";
}
.icon-swiss-knife:before {
  content: "\e90e";
}
.icon-talk:before {
  content: "\e908";
}
.icon-email:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-graphic-design:before {
  content: "\e90c";
}
.icon-mobile-design:before {
  content: "\e90a";
}
.icon-web-design:before {
  content: "\e90b";
}
