header,
footer,
.wrap,
a,
input,
textarea, 
section{
	-webkit-box-sizing: unset; 
    -moz-box-sizing: unset;
    box-sizing: unset; 
}
header a.icon-menu{
	position: relative;
}
a:hover{
	color: inherit;
}
.wrap{
	max-width: 100%;
}
p{
    margin: 1em 0;
}
h2{
    color: inherit;
}
.md-content h2{
 	font-weight: bold;
}
textarea, input{
	display: inline-block !important;
	border-radius: 0 !important;
}
@media only screen and (max-width: 767px){
	textarea, input{
	margin: 4px auto !important;
}
}
a:focus{
	outline: none;
}
.lang-div{
    text-align: right;
    margin: 0 15px;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    @media only screen and (max-width: 767px){
    	margin: 0 2em;
    	padding: 1.5em 0;
    }
}
.lang-btn{
    padding: 0;
    cursor: pointer;
    display: inline;
    margin: 0;
}
.lang-font{
    font-size: 25px;
}
.lang-en{
	margin-right: 10px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder{
 font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

input:-moz-placeholder, textarea:-moz-placeholder {
 font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

input::-moz-placeholder, textarea::-moz-placeholder {
 font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.md-form h2{
	padding: 0.5em 0 0;
}	
.md-content h2{
	padding: 0;
}
#contact{
	position: relative;
	label.label-btn{
	    position: relative;
	    width: 6.5em;
		display: inline-block;
		margin-bottom: 2em !important;
    	margin-top: 2em !important;
    	border-radius: 2em;
   		overflow: hidden;
   		z-index: 3;
	    cursor: pointer;
	}
}
#label-close::before,#label-send::before{
	text-transform: uppercase;
    width: 100%;
    padding: 8px;
    position: absolute;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 2em;
    .transition(transform 0.2s ease-in-out);
    .transform(translate3d(-100%, 0, 0));
    z-index: 2;
}
#label-close::before{
 	background: black;
 	color: white;
}
#label-send::before{
	background: white;
	color: black;
}
#label-close{
	background: white;
	span.ajax-loader{
		display: none !important;
	}
}
#label-close:hover::before, #label-send:hover::before{
    .transform(translate3d(0, 0, 0));
}
#label-close:hover #btn-close, #label-send:hover #submit-btn{
    .transform(translate3d(0, 100%, 0));
}
#label-send{
	margin-left: 15px;
    background: #ffc90e;
    span.ajax-loader{
	    position: absolute;
	    top: 50%;
	    right: 7px;
	    margin-top: -7px;
        z-index: 3;
        background-image: none;
        font-size: 13px;
        height: 13px;
        width: 13px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
	}
}
#submit-btn{
	background: #ffc90e;
}
#btn-close{
	background: #fff;
	margin-right: 15px !important;
}
#btn-close, #submit-btn{
	margin: 0;
	color: black;
    border: none;
    border-radius: 2em !important;
    width: 6em;
    height: 1em;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 1;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    @media only screen and (max-width: 767px){
    	width: 6em !important;
    	padding-top: 0;
	    padding-bottom: 0;
	    height: 27px;
    }
}

div.wpcf7-response-output{
	border: none;
    padding: 0;
    margin-top: -1em;
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 13px;
    font-family: @font-family-base;
	}
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng{
 	color: #ff6b6b;
}
div.wpcf7-mail-sent-ok{
	color: #9dcb3b; 
}
span.wpcf7-not-valid-tip{
	display: none !important;
}
a.next-btn span:nth-child(2), a.next-btn span:nth-child(1){
	line-height: 1.3;
}